*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main{
   background-color: #F2F2F2;
}

header{
    height: 100px;
    background-color: #f2f2f2
}
header img{
    height: 35vh;
    position: relative;
    top:-145px;
    left: 1%;

}

 header .nav-links .checkbtn{
    font-size: 30px;
    color:  #0f63a0;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
 header .nav-links #check{
    display: none;
}


header .nav-links ul{
     list-style: none;
     text-align: center;
 }
header .nav-links ul li {
     display: inline-block;
     margin: 45px 15px 10px 10px;
 }
header .nav-links ul li a{
     text-decoration: none;
     color: black;
     font-size: 17px
 }
header .nav-links ul li a:hover{
    color: #0f63a0
}
header .nav-links ul li:first-child a{
    padding: 15px 20px;
    background-color: #0f63a0;
    color: white;
}

header p{
    position: relative;
    top: -55px;
    left: 30%
}
header button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 120px;
    height: 50px;
    cursor: pointer;
    position: relative;
    top: -290px;
    left: 85%;
    z-index: 3
}

.about-people{
    height: 400px;
    background-color: white;
}
.about-people h1{
    position: relative;
    top:25%;
    left: 13%;
    color: #0f63a0;
    
}
.about-people p{
    width: 800px;
    position: relative;
    top: 25%;
    left: 13%;
    color: black;
    font-size: 20px;
    text-align: left;   
    margin-top: 20px;
}

.about{
    height: 400px;
    background-color: #f2f2f2;
}
.about h1{
    position: relative;
    top: 25%;
    left: 13%;
    color: #0f63a0;
    
}
.about h2{
    position: relative;
    top: 25%;
    left: 13%;
    color: #0f63a0;
    font-size: 25x;
}
.about p{
    width: 800px;
    position: relative;
    top: 25%;
    left: 13%;
    color: black;
    font-size: 20px;
    text-align: left;   
    margin-top: 20px;
}

.medical{
     height: 1200px;
     background-color: white;
}
.medical h1{
    width: 300px;
    position: relative;
    top: 5%;
    left: 40%;
    color: #0f63a0;
    font-size: 40px;
    
}
.medical .m1{
    height: 70px;
    width: 100px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: 13%;
    left: 13%;
}
.medical .m1 img{
     height: 200px;
    position: relative;
    top: -240px;
    left: -100px;
    width:300px
}
.medical .m1 h3{
     position: relative;
    left:-70px;
    top: 10px;
    color: #0f63a0;
    font-size: 25px;
    width: 300px;
}
.medical .m1 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m1 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: -120px;
    left: -100px;
}

.medical .m2{
    height: 70px;
    width: 100px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: -22.8%;
    left: 38%;

}
.medical .m2 img{
     height: 200px;
    position: relative;
    top: -240px;
    left: -100px;
    width:300px
}
.medical .m2 h3{
     position: relative;
    left:-70px;
    top: 10px;
    color: #0f63a0;
    font-size: 25px;
    width: 300px;
}
.medical .m2 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m2 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: -120px;
    left: -100px;
}

.medical .m3{
    height: 70px;
    width: 100px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: -58.6%;
    left: 63%;
}
.medical .m3 img{
     height: 200px;
    position: relative;
    top: -240px;
    left: -100px;
    width:300px
}
.medical .m3 h3{
     position: relative;
    left:-70px;
    top: 10px;
    color: #0f63a0;
    font-size: 25px;
    width: 300px;
}
.medical .m3 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m3 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: -120px;
    left: -100px;
}

.medical .m4{
    height: 70px;
    width: 70px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: -53.5%;
    left: 8%;
}
.medical .m4 img{
     height: 180px;
    width: 270px;
    position: relative;
    top: -240px;
    left: -100px;
}
.medical .m4 h3{
     position: relative;
    left:-70px;
    top: 10px;
    color: #0f63a0;
    font-size: 25px;
    width: 300px;
}
.medical .m4 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m4 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: -150px;
    left: -100px;
}

.medical .m5{
    height: 70px;
    width: 70px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: -89.3%;
    left: 30%;
}
.medical .m5 img{
    height: 180px;
    width: 270px;
    position: relative;
    top: -240px;
    left: -100px;
}
.medical .m5 h3{
     position: relative;
    left:-80px;
    top: 10px;
    color: #0f63a0;
    font-size: 22px;
    width: 300px;
}
.medical .m5 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m5 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 270px;
    height: 40px;
    position: relative;
     top: -100px;
    left: -100px;
    cursor: pointer;
}

.medical .m6{
    height: 70px;
    width: 70px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: -125.2%;
    left: 52%;
}
.medical .m6 img{
    height: 180px;
    width: 270px;
    position: relative;
    top: -240px;
    left: -100px;
}
.medical .m6 h3{
     position: relative;
    left:-90px;
    top: 10px;
    color: #0f63a0;
    font-size: 22px;
    width: 300px;
}
.medical .m6 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m6 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: -100px;
    left: -100px;
}

.medical .m7{
    height: 70px;
    width: 70px;
    padding: 180px 100px;
    background-color: #f2f2f2;
    position: relative;
    top: -161.1%;
    left: 74%;
}
.medical .m7 img{
     height: 180px;
    width: 270px;
    position: relative;
    top: -240px;
    left: -100px;
}
.medical .m7 h3{
     position: relative;
    left:-70px;
    top: 10px;
    color: #0f63a0;
    font-size: 25px;
    width: 300px;
}
.medical .m7 p{
    width: 200px;
    font-size: 20px;
    position: relative;
    left:-70px;
    top: -160px;
    text-align: center;
}
.medical .m7 button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 270px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: -100px;
    left: -100px;
}

.pag-one{
    height: 1100px;
}

.pag-one h1{
    width: 30px;
    position: relative;
    top: 5%;
    left: 40%;
    color: #0f63a0;
    font-size: 40px;
}

.pag-one .box-one,
.pag-one .box-two,
.pag-one .box-three{
    float: left;
    position: relative;
    top: 5%;
    left: 20%;
}

.pag-one .box-one img,
.pag-one .box-two img,
.pag-one .box-three img{
    height: 30vh;
    position: relative;
    top: 50px;
    left: -100px;
    width:300px;
}

.pag-one .box-one h3,
.pag-one .box-two h3,
.pag-one .box-three h3{
    position: relative;
    left:34%;
    top: 100px;
    color: #0f63a0;
    font-size: 25px;
}

.pag-one .box-one p,
.pag-one .box-two p,
.pag-one .box-three p{
    width: 700px;
    font-size: 20px;
   position: relative;
    left:34%;
    top: -90px;
}

.pag-one .box-one button.color
,.pag-one .box-two button.color,
.pag-one .box-three button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 300px;
    height: 35px;
    cursor: pointer;
    position: relative;
    top: -143px;
    left: -100px;
}

.pag-one .box-two{
    float: right;
    position: relative;
    top: 5%;
    left:23%;
    
}
.pag-one .box-two h3{
    position: relative;
    top: 100px;
    left: -34%;
}
.pag-one .box-two p{
    position: relative;
    left:-120%;
    top: -90px;
    text-align:right;
}

.tratamento{
    height: 400px;
    background-color: white;
}
.tratamento h1{
    position: relative;
    top:5%;
    left: 40%;
    color: #0f63a0;
    
}
.tratamento p{
    width: 800px;
    position: relative;
    top: 15%;
    left: 13%;
    color: black;
    font-size: 20px;
    text-align: left;   
    margin-top: 20px;
}
.tratamento  button.color{
    background-color:  #0f63a0; 
    color: white;
    border: none;
    width: 200px;
    height: 35px;
    cursor: pointer;
    position: relative;
    top: 100px;
    left: 13%;
    font-size: 15px
}

.pag-three{
    height: 600px;
}
.pag-three h1{
    width: 300px;
    position: relative;
    top: 5%;
    left: 40%;
    color: #0f63a0;
    font-size: 40px;
}
.pag-three iframe{
    position: relative;
    top: 80px;
    left: 13%; 
    width: 400px;
    height: 300px;
}

.pag-three form{
    width: 450px;
    position: relative;
    top: -37%;
    left: 52%;
    max-width: 550px;
    background-color: white;
    display:flex;
    height: 300px
}
.pag-three form h2{
    position: relative;
    top:3%;
    left: 12%;
    color: #0f63a0;
}
.pag-three form .input-fields{
    position: relative;
    top: 10%;
    left:-30%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields, .msg{
    width: 48%
}
.input-fields input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid  #0f63a0;
    padding:10px;
    color: #0f63a0;
    width:100%;
}
.msg textarea{
    height: 80px;
    width: 48%;
}
.input-fields button{
    background:  #0f63a0;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

footer{
    height: 30px;
    background-color: #8c8c8c;
     font-size: 17px;
}
footer .footer-text{
    text-decoration: none;
    position: relative;
    left: 35%;
}
footer a{
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 900px){
    body{
        background-color: #f2f2f2;
    }
    header{
        height:  400px;
    }
    header img{
        height: 50vh;
    }
    
    header .nav-links  .checkbtn{
        display: block;
    }
    header .nav-links ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: black;
        top:80px;
        left: -100%;
        text-align: center;    
        transition: all .5s
    }
    header .nav-links ul li{
        display:block;
        margin: 50px 0px;
        line-height: 30px;
    }
    header .nav-links ul li a{
        font-size: 60px;
    }
    header .nav-links.active{
        background: none;
        color: black;
    }
    header .nav-links #check:checked ~ ul{
        left: 0px;
    }
    
    header p{
        font-size: 0px;
    }
    header button.color{
        width: 70%;
        height: 60px;
        position: relative;
        top: -190px;
        left: 15%;
        font-size: 30px;
    }
    
    .about-people{
        background-color: #f2f2f2;
        height: 1000px; 
    }
    .about-people h1{
        width: 350px;
        font-size: 38px;
        position: relative;
        top: 5%;
        left: 3%;
    }
    .about-people h2{
    position: relative;
    top: 5%;
    left: 3%;
    font-size: 35px;
     width: 300px;
}
    .about-people p{
        width: 300px;
        font-size: 30px;
        position: relative;
        top: 7%;
        left: 3%;
    }
    
    .about{
        background-color: #f2f2f2;
        height: 1000px; 
    }
    .about h1{
        width: 50px;
        font-size: 38px;
        position: relative;
        top: 5%;
        left: 3%;
    }
    .about h2{
    position: relative;
    top: 5%;
    left: 3%;
    font-size: 35px;
     width: 300px;
}
    .about p{
        width: 300px;
        font-size: 30px;
        position: relative;
        top: 7%;
        left: 3%;
    }
    
    .pag-one{
        width: 100%;
        height: 2000px;
        background-color: #f2f2f2;
        background-size: cover;
    }
    .pag-one h1{
        width: 38px;
        position: relative;
        top: 3%;
        left: 3%;
        color: #0f63a0;
        font-size: 40px;
    }
    
    .pag-one .box-one,
    .pag-one .box-two,
    .pag-one .box-three{
        max-width: 550px;
        height: 500px;
        width: 80%;
        padding: 30px 30px;
        background-color: white;
        position: relative;
        top: 8%;
        left:13%;
        margin: -40px;
        margin-bottom: 50px;
    }
    
    .pag-one .box-one img,
    .pag-one .box-two img,
     .pag-one .box-three img{
       height: 20vh;
        width: 33vh;
        position: relative;
        top: -60px;
        left:10px;
    }
    
    .pag-one .box-one h3,
    .pag-one .box-two h3,
    .pag-one .box-three h3{
        position: relative;
        top: 190px;
        left: 5%;
        font-size: 30px;
    }
    
    .pag-one .box-one p,
    .pag-one .box-two p, 
    .pag-one .box-three p{
        width: 200px;
        font-size: 20px;
        position: relative;
         top: 70px;
        left: 5%;
    }
    
    .pag-one .box-one button.color, .pag-one .box-two button.color,
     .pag-one .box-three button.color
    {
        position: relative;
        top: 40px;
        left: 3%;
        width:70%;
        height: 60px;
        font-size: 30px;
    }
    
    .pag-one .box-two{
        position: relative;
        top:10%;
        left:-13%;
    }
    .pag-one .box-two p{
        text-align: left
    }
     .pag-one .box-three{
        position: relative;
        top:12%;
    }
    
    .medical {
        height: 4500px;
       background-color: #f2f2f2
    }
    .medical h1{
         width: 400px;
        position: relative;
        top:1%;
        left: 3%;
        color: #0f63a0;
        font-size: 30px;
    }
    
    .medical .m1,
    .medical .m2,
    .medical .m3,
    .medical .m4,
    .medical .m5,
    .medical .m6,
    .medical .m7{
        max-width: 550px;
        height: 500px;
        width: 80%;
        padding: 30px 30px;
        background-color: white;
        position: relative;
        top: 3%;
        margin: -40px;
    }
    
    .medical .m1 img,
    .medical .m2 img,
    .medical .m3 img,
    .medical .m4 img,
    .medical .m5 img,
    .medical .m6 img,
    .medical .m7 img{
        height: 20vh;
        width: 33vh;
        position: relative;
        top: -10px;
        left: 30px;
    }
    
    .medical .m1 h3,
    .medical .m2 h3,
    .medical .m3 h3,
    .medical .m4 h3,
    .medical .m5 h3,
    .medical .m6 h3,
    .medical .m7 h3{
        position: relative;
        top: 200px;
        left:15%;
        font-size: 25px;
    }
    
    .medical .m1 p,
    .medical .m2 p,
    .medical .m3 p,
    .medical .m4 p,
    .medical .m5 p,
    .medical .m6 p,
    .medical .m7 p{
        width: 200px;
        font-size: 20px;
        position: relative;
         top: 90px;
        left: 13%;
    }
    
    .medical .m1 button.color,
    .medical .m2 button.color,
    .medical .m3 button.color,
    .medical .m4 button.color,
    .medical .m5 button.color,
    .medical .m6 button.color,
    .medical .m7 button.color{
       position: relative;
        top: 130px;
        left: 13%;
        width:70%;
        height: 60px;
        font-size: 30px;
    }
    
    .medical .m2{
        position: relative;
        top: 5%;
        left: 13%;
    }
    .medical .m3{
        position: relative;
        top: 7%;
        left: 13%;
    }
    .medical .m4{
        position: relative;
        top:9%;
        left: 13%;
        height: 520px;
    }
    .medical .m5{
        position: relative;
        top:11%;
        left: 13%;
    }
    .medical .m6{
         position: relative;
        top: 13%;
        left: 13%;
    }
    .medical .m7{
        position: relative;
        top: 15%;
        left: 13%;
    }
    
    .medical .m4{
        height: 650px
    }
    .medical .m4 p{
        position: relative;
        top: 70px;
        font-size: 21px;
    } 
    .medical .m4 img{
         position: relative;
        top: -30px;
    }
    .medical .m5 h3,
    .medical .m6 h3{
         position: relative;
        top:200px;
        left:7%;
        font-size: 21px;
    }
    .medical .m5 p,
    .medical .m6 p{
        position: relative;
        top:100px;
    }
    .medical .m5 img,
    .medical .m6 img{
        position: relative;
        top: -35px;
        left: 10px;
    }
    .medical .m4 button.color{
        position: relative;
        top: 150px;
        height: 90px;
    }
    
    .tratamento{
        background-color: #f2f2f2;
        height: 1000px; 
    }
    .tratamento h1{
        width: 50px;
        font-size: 38px;
        position: relative;
        top: 5%;
        left: 3%;
    }
    .tratamento h2{
    position: relative;
    top: 5%;
    left: 3%;
    font-size: 35px;
     width: 300px;
}
    .tratamento p{
        width: 300px;
        font-size: 30px;
        position: relative;
        top: 7%;
        left: 3%;
    }
    .tratamento button.color{
        position: relative;
        top: 150px;
    }
    
    .pag-three{
        height: 1000px;
    }
    .pag-three h1{
        width: 500px;
        position: relative;
        top:3%;
        left: 10%;
        color: #0f63a0;
        font-size: 30px;
    }
    .pag-three iframe{
         width: 300px;
        position: relative;
        top: 150px;
        left: 3%;
    }
    
    .pag-three form{
        position: relative;
        top: 18.5%;
        left:3%;
        width: 80%;
        height:460px    
    }
    .pag-three form h2{
        position: relative;
        top: 3%;
        left: 20%;
        width: 300px;
    }
    .input-fields input, .msg textarea{
        width: 100%;
        position: relative;
        top: 15%;
    }
    
    footer{
        width: 100%;
        height: 30px;
        background-color: #8c8c8c;
        font-size: 17px;
        }
footer .footer-text{
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 5%;
}
footer a{
    text-decoration: none;
    color:black;
}   
    
}
